/*! source: https://github.com/jgthms/bulma */

.container {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1088px) {
  .container {
    width: 960px;
    max-width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1152px;
    max-width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .container {
    width: 1344px;
    max-width: 1344px;
  }
}
